body {
  background-color: #ffffff
}

h1 {
  text-align: center;
  color: #23189E
}

h2 {
  text-align: center;
  color: #23189E
}

p {
  text-align: center;
  color: #5F52EB
}

#camisetas {
  height: 250px;
  border: 2px dotted blue;
  padding: 15px;
}
