body {
  background-color: #ffffff
}

.titulo-principal {
  text-align: center;
  color: #23189E
}

h2 {
  color: #23189E
}

.divisao-principal {
  background-color: black;
}

.historia {
  background-color: #EB766A;
}

.panosprato {
  background-color: yellow;
}

p {
  text-align: center;
  color: #5F52EB
}

#camisetas {
  height: 250px;
  border: 2px dotted blue;
  padding: 15px;
}

.materiais {
  background-color: grey;
}

.itens {
  color: #5F52EB;
}
